<!DOCTYPE html>
<html>
<head>
    <title>Calculator</title>
</head>
<body>
    <h1>Calculator</h1>

    <h2>Addition<h2>
    <form action="/add" method="post">
        <input type="text" name="n1" placeholder="Number"> 
        <p>+</p>
        <input type="text" name="n2" placeholder="Plus">
        <button type="submit">Submit</button>
    </form>
	
	<h2>Subtraction<h2>
	 <form action="/subtract" method="post">
        <input type="text" name="n3" placeholder="Number"> 
        <p>-</p>
        <input type="text" name="n4" placeholder="Minus">
        <button type="submit">Submit</button>
    </form>

	<h2>Multiplication<h2>
     <form action="/multiply" method="post">
        <input type="text" name="n5" placeholder="Number"> 
        <p>X</p>
        <input type="text" name="n6" placeholder="Times">
        <button type="submit">Submit</button>
    </form>

	<h2>Division<h2>
     <form action="/divide" method="post">
        <input type="text" name="n7" placeholder="Number"> 
        <p>/</p>
        <input type="text" name="n8" placeholder="By">
        <button type="submit">Submit</button>
    </form>
</body>
</html>